<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Banners & Flex</h2>
            <h3 class="section-subheading text-muted">Schools, Colleges and Business</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/kapda.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/multi.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/flax.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/videocon.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/lg.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>        
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/back.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
    </div>
</div>