<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Multi Color</h2>
            <h3 class="section-subheading text-muted">Wedding Cards</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/images.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Round Icons</h4>
                <p class="text-muted">Graphic Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/imagese.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Startup Framework</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/images5.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Treehouse</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <!-- <img src="../assets/img/muslim.jpeg" class="img-responsive" alt=""> -->
            </a>
            <div class="">
        <!--         <h4>Golden</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/imageses.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Escape</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="">
                    <div class="-content">
                        
                    </div>
                </div>
                <img src="../assets/img/baby.jpeg" class="img-responsive" alt="">
            </a>
            <div class="">
                <!-- <h4>Dreams</h4>
                <p class="text-muted">Website Design</p> -->
            </div>
        </div>
    </div>
</div>